[submodule "ApprendreLaProgrammationAvecDelphi"]
	path = ApprendreLaProgrammationAvecDelphi
	url = https://github.com/DeveloppeurPascal/ApprendreLaProgrammationAvecDelphi.git
[submodule "Utiliser-des-QR-codes-et-codes-a-barres"]
	path = Utiliser-des-QR-codes-et-codes-a-barres
	url = https://github.com/DeveloppeurPascal/Utiliser-des-QR-codes-et-codes-a-barres.git
[submodule "COVID-ContactTracing-RestauBar"]
	path = COVID-ContactTracing-RestauBar
	url = https://github.com/DeveloppeurPascal/COVID-ContactTracing-RestauBar.git
[submodule "LearnToCodeSummerCamp2021"]
	path = LearnToCodeSummerCamp2021
	url = https://github.com/DeveloppeurPascal/LearnToCodeSummerCamp2021.git
[submodule "DelphiFMXGameSnippets"]
	path = DelphiFMXGameSnippets
	url = https://github.com/DeveloppeurPascal/DelphiFMXGameSnippets.git
[submodule "Faire-une-application-web-avec-Delphi"]
	path = Faire-une-application-web-avec-Delphi
	url = https://github.com/DeveloppeurPascal/Faire-une-application-web-avec-Delphi.git
[submodule "librairies"]
	path = librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
[submodule "TetrisLike"]
	path = TetrisLike
	url = https://github.com/DeveloppeurPascal/TetrisLike.git
[submodule "MonitoringTournamentPlayerScreen"]
	path = MonitoringTournamentPlayerScreen
	url = https://github.com/DeveloppeurPascal/MonitoringTournamentPlayerScreen.git
[submodule "Delphi-NoCode-Library"]
	path = Delphi-NoCode-Library
	url = https://github.com/DeveloppeurPascal/Delphi-NoCode-Library.git
[submodule "DeepL-Delphi-client"]
	path = DeepL-Delphi-client
	url = https://github.com/DeveloppeurPascal/DeepL-Delphi-client.git
[submodule "WhereIsBernie-GGJ21"]
	path = WhereIsBernie-GGJ21
	url = https://github.com/DeveloppeurPascal/WhereIsBernie-GGJ21.git
[submodule "BoiteAMeuh"]
	path = BoiteAMeuh
	url = https://github.com/DeveloppeurPascal/BoiteAMeuh.git
[submodule "My-Advent-Of-Code-Delphi-Projects"]
	path = My-Advent-Of-Code-Delphi-Projects
	url = https://github.com/DeveloppeurPascal/My-Advent-Of-Code-Delphi-Projects.git
[submodule "DiffusionEtMisesAJourDeLogiciels"]
	path = DiffusionEtMisesAJourDeLogiciels
	url = https://github.com/DeveloppeurPascal/DiffusionEtMisesAJourDeLogiciels.git
[submodule "DelphiBooks-API-delphi"]
	path = DelphiBooks-API-delphi
	url = https://github.com/DeveloppeurPascal/DelphiBooks-API-delphi.git
[submodule "DelphiEtLesTestsUnitaires"]
	path = DelphiEtLesTestsUnitaires
	url = https://github.com/DeveloppeurPascal/DelphiEtLesTestsUnitaires.git
[submodule "DevelopperUneApplicationPourAndroidTVAvecDelphi"]
	path = DevelopperUneApplicationPourAndroidTVAvecDelphi
	url = https://github.com/DeveloppeurPascal/DevelopperUneApplicationPourAndroidTVAvecDelphi.git
[submodule "androidtv-delphi"]
	path = androidtv-delphi
	url = https://github.com/DeveloppeurPascal/androidtv-delphi.git
[submodule "SauvegarderEtRestaurerLEtatDesApplicationsMobiles"]
	path = SauvegarderEtRestaurerLEtatDesApplicationsMobiles
	url = https://github.com/DeveloppeurPascal/SauvegarderEtRestaurerLEtatDesApplicationsMobiles.git
[submodule "GererLeClavierVirtuelSurIOSEtAndroid"]
	path = GererLeClavierVirtuelSurIOSEtAndroid
	url = https://github.com/DeveloppeurPascal/GererLeClavierVirtuelSurIOSEtAndroid.git
[submodule "InternationaliserVosLogicielsVCLFMX"]
	path = InternationaliserVosLogicielsVCLFMX
	url = https://github.com/DeveloppeurPascal/InternationaliserVosLogicielsVCLFMX.git
[submodule "exemples"]
	path = exemples
	url = https://github.com/DeveloppeurPascal/exemples.git
[submodule "programmez-237"]
	path = programmez-237
	url = https://github.com/DeveloppeurPascal/programmez-237.git
[submodule "Embarquer-une-base-de-donn-es-locale-dans-vos-logiciels-et-applications-mobiles"]
	path = Embarquer-une-base-de-donn-es-locale-dans-vos-logiciels-et-applications-mobiles
	url = https://github.com/DeveloppeurPascal/Embarquer-une-base-de-donn-es-locale-dans-vos-logiciels-et-applications-mobiles.git
[submodule "Des-solutions-de-synchronisations-de-donnees"]
	path = Des-solutions-de-synchronisations-de-donnees
	url = https://github.com/DeveloppeurPascal/Des-solutions-de-synchronisations-de-donnees.git
[submodule "Utilisation-de-FireDAC-avec-FMX"]
	path = Utilisation-de-FireDAC-avec-FMX
	url = https://github.com/DeveloppeurPascal/Utilisation-de-FireDAC-avec-FMX.git
[submodule "Utilisation-de-FireDAC-avec-la-VCL"]
	path = Utilisation-de-FireDAC-avec-la-VCL
	url = https://github.com/DeveloppeurPascal/Utilisation-de-FireDAC-avec-la-VCL.git
[submodule "FMX-Notepad"]
	path = FMX-Notepad
	url = https://github.com/DeveloppeurPascal/FMX-Notepad.git
[submodule "FMX-MultiPad"]
	path = FMX-MultiPad
	url = https://github.com/DeveloppeurPascal/FMX-MultiPad.git
[submodule "GestionComptesPersonnels"]
	path = GestionComptesPersonnels
	url = https://github.com/DeveloppeurPascal/GestionComptesPersonnels.git
[submodule "programmez-217"]
	path = programmez-217
	url = https://github.com/DeveloppeurPascal/programmez-217.git
[submodule "POCNotesDeFrais"]
	path = POCNotesDeFrais
	url = https://github.com/DeveloppeurPascal/POCNotesDeFrais.git
[submodule "CodeRage2018-ChristmasGame"]
	path = CodeRage2018-ChristmasGame
	url = https://github.com/DeveloppeurPascal/CodeRage2018-ChristmasGame.git
[submodule "CCTRB-PHP-API-Server"]
	path = CCTRB-PHP-API-Server
	url = https://github.com/DeveloppeurPascal/CCTRB-PHP-API-Server.git
[submodule "DC2-BlocHTML-Widget"]
	path = DC2-BlocHTML-Widget
	url = https://github.com/DeveloppeurPascal/DC2-BlocHTML-Widget.git
[submodule "DC2-GoogleAdsense-widget"]
	path = DC2-GoogleAdsense-widget
	url = https://github.com/DeveloppeurPascal/DC2-GoogleAdsense-widget.git
[submodule "LogNPass-JavaScript"]
	path = LogNPass-JavaScript
	url = https://github.com/DeveloppeurPascal/LogNPass-JavaScript.git
[submodule "LogNPass-PHP"]
	path = LogNPass-PHP
	url = https://github.com/DeveloppeurPascal/LogNPass-PHP.git
[submodule "DelphiBooks-API-JavaScript"]
	path = DelphiBooks-API-JavaScript
	url = https://github.com/DeveloppeurPascal/DelphiBooks-API-JavaScript.git
[submodule "DelphiBooks-API-PHP"]
	path = DelphiBooks-API-PHP
	url = https://github.com/DeveloppeurPascal/DelphiBooks-API-PHP.git
[submodule "Delphi-DBExtend-Library"]
	path = Delphi-DBExtend-Library
	url = https://github.com/DeveloppeurPascal/Delphi-DBExtend-Library
[submodule "Coder-sans-coder-Delphi-en-mode-nocode-c-est-possible"]
	path = Coder-sans-coder-Delphi-en-mode-nocode-c-est-possible
	url = https://github.com/DeveloppeurPascal/Coder-sans-coder-Delphi-en-mode-nocode-c-est-possible.git
[submodule "Tests-AJAX-JavaScript"]
	path = Tests-AJAX-JavaScript
	url = https://github.com/DeveloppeurPascal/Tests-AJAX-JavaScript.git
[submodule "Planning-API"]
	path = Planning-API
	url = https://github.com/DeveloppeurPascal/Planning-API.git
[submodule "Casse-Briques"]
	path = Casse-Briques
	url = https://github.com/DeveloppeurPascal/Casse-Briques.git
[submodule "Delphi-FMXExtend-Library"]
	path = Delphi-FMXExtend-Library
	url = https://github.com/DeveloppeurPascal/Delphi-FMXExtend-Library.git
[submodule "Delphi-VCLExtend-Library"]
	path = Delphi-VCLExtend-Library
	url = https://github.com/DeveloppeurPascal/Delphi-VCLExtend-Library.git
[submodule "FMXGameEngine"]
	path = FMXGameEngine
	url = https://github.com/DeveloppeurPascal/FMXGameEngine.git
[submodule "programmez-hs7"]
	path = programmez-hs7
	url = https://github.com/DeveloppeurPascal/programmez-hs7.git
[submodule "Text2HTML"]
	path = Text2HTML
	url = https://github.com/DeveloppeurPascal/Text2HTML.git
[submodule "GooglePlayDeveloperBannerGenerator"]
	path = GooglePlayDeveloperBannerGenerator
	url = https://github.com/DeveloppeurPascal/GooglePlayDeveloperBannerGenerator.git
[submodule "ExeBulkSigning"]
	path = ExeBulkSigning
	url = https://github.com/DeveloppeurPascal/ExeBulkSigning.git
[submodule "Folder2FMXImageList"]
	path = Folder2FMXImageList
	url = https://github.com/DeveloppeurPascal/Folder2FMXImageList.git
[submodule "MD2HTML"]
	path = MD2HTML
	url = https://github.com/DeveloppeurPascal/MD2HTML.git
[submodule "DelphiBooks-website-generator"]
	path = DelphiBooks-website-generator
	url = https://github.com/DeveloppeurPascal/DelphiBooks-website-generator.git
[submodule "DelphiBooks-Database-Editor"]
	path = DelphiBooks-Database-Editor
	url = https://github.com/DeveloppeurPascal/DelphiBooks-Database-Editor.git
[submodule "DelphiBooks-website-template"]
	path = DelphiBooks-website-template
	url = https://github.com/DeveloppeurPascal/DelphiBooks-website-template.git
[submodule "DelphiBooks-WebSite"]
	path = DelphiBooks-WebSite
	url = https://github.com/DeveloppeurPascal/DelphiBooks-WebSite.git
[submodule "DelphiBooks-Database"]
	path = DelphiBooks-Database
	url = https://github.com/DeveloppeurPascal/DelphiBooks-Database.git
[submodule "Delphi-OTAPI-Samples"]
	path = Delphi-OTAPI-Samples
	url = https://github.com/DeveloppeurPascal/Delphi-OTAPI-Samples.git
[submodule "VaSur-Light"]
	path = VaSur-Light
	url = https://github.com/DeveloppeurPascal/VaSur-Light.git
[submodule "informatiqueetdeveloppement-03"]
	path = informatiqueetdeveloppement-03
	url = https://github.com/DeveloppeurPascal/informatiqueetdeveloppement-03.git
[submodule "informatiqueetdeveloppement-01"]
	path = informatiqueetdeveloppement-01
	url = https://github.com/DeveloppeurPascal/informatiqueetdeveloppement-01.git
[submodule "pointdbf-98"]
	path = pointdbf-98
	url = https://github.com/DeveloppeurPascal/pointdbf-98.git
[submodule "pointdbf-96"]
	path = pointdbf-96
	url = https://github.com/DeveloppeurPascal/pointdbf-96.git
[submodule "pascalissime-48"]
	path = pascalissime-48
	url = https://github.com/DeveloppeurPascal/pascalissime-48.git
[submodule "CKEditor-plugins"]
	path = CKEditor-plugins
	url = https://github.com/DeveloppeurPascal/CKEditor-plugins.git
[submodule "SPIP-FCKEditor-pugin"]
	path = SPIP-FCKEditor-pugin
	url = https://github.com/DeveloppeurPascal/SPIP-FCKEditor-pugin.git
[submodule "Prestashop-SIPS-plugin"]
	path = Prestashop-SIPS-plugin
	url = https://github.com/DeveloppeurPascal/Prestashop-SIPS-plugin.git
[submodule "php-shopping-cart-management"]
	path = php-shopping-cart-management
	url = https://github.com/DeveloppeurPascal/php-shopping-cart-management.git
[submodule "web-picture-crop"]
	path = web-picture-crop
	url = https://github.com/DeveloppeurPascal/web-picture-crop.git
[submodule "photo-album-generator"]
	path = photo-album-generator
	url = https://github.com/DeveloppeurPascal/photo-album-generator.git
[submodule "one-shot-tools"]
	path = one-shot-tools
	url = https://github.com/DeveloppeurPascal/one-shot-tools.git
[submodule "aspirateur-de-site-web"]
	path = aspirateur-de-site-web
	url = https://github.com/DeveloppeurPascal/aspirateur-de-site-web.git
[submodule "GitHubPages-Learning-Resources-Template"]
	path = GitHubPages-Learning-Resources-Template
	url = https://github.com/DeveloppeurPascal/GitHubPages-Learning-Resources-Template.git
[submodule "Lazarus-Learning-Resources"]
	path = Lazarus-Learning-Resources
	url = https://github.com/DeveloppeurPascal/Lazarus-Learning-Resources.git
[submodule "Pascal-Learning-Resources"]
	path = Pascal-Learning-Resources
	url = https://github.com/DeveloppeurPascal/Pascal-Learning-Resources.git
[submodule "Delphi-Learning-Resources"]
	path = Delphi-Learning-Resources
	url = https://github.com/DeveloppeurPascal/Delphi-Learning-Resources.git
[submodule "librairies-TurboPascal"]
	path = librairies-TurboPascal
	url = https://github.com/DeveloppeurPascal/librairies-TurboPascal.git
[submodule "librairies-samples-and-tests"]
	path = librairies-samples-and-tests
	url = https://github.com/DeveloppeurPascal/librairies-samples-and-tests.git
[submodule "PHP-API-Dump"]
	path = PHP-API-Dump
	url = https://github.com/DeveloppeurPascal/PHP-API-Dump.git
[submodule "Fediverse-GET-URL-Tester"]
	path = Fediverse-GET-URL-Tester
	url = https://github.com/DeveloppeurPascal/Fediverse-GET-URL-Tester.git
[submodule "LogNPass-app"]
	path = LogNPass-app
	url = https://github.com/DeveloppeurPascal/LogNPass-app.git
[submodule "Delphi-samples"]
	path = Delphi-samples
	url = https://github.com/DeveloppeurPascal/Delphi-samples.git
[submodule "LDJAM52-Harvest"]
	path = LDJAM52-Harvest
	url = https://github.com/DeveloppeurPascal/LDJAM52-Harvest.git
[submodule "PicMobGenerator"]
	path = PicMobGenerator
	url = https://github.com/DeveloppeurPascal/PicMobGenerator.git
[submodule "Automatically-Translate-Your-Programs-with-DeepL-API"]
	path = Automatically-Translate-Your-Programs-with-DeepL-API
	url = https://github.com/DeveloppeurPascal/Automatically-Translate-Your-Programs-with-DeepL-API.git
[submodule "Creating-a-Simple-Web-Server-with-WebBroker"]
	path = Creating-a-Simple-Web-Server-with-WebBroker
	url = https://github.com/DeveloppeurPascal/Creating-a-Simple-Web-Server-with-WebBroker.git
[submodule "Delphi-Translation-Library"]
	path = Delphi-Translation-Library
	url = https://github.com/DeveloppeurPascal/Delphi-Translation-Library.git
[submodule "PHP-OTP-code-by-SMS"]
	path = PHP-OTP-code-by-SMS
	url = https://github.com/DeveloppeurPascal/PHP-OTP-code-by-SMS.git
[submodule "PHP-OTP-code-by-email"]
	path = PHP-OTP-code-by-email
	url = https://github.com/DeveloppeurPascal/PHP-OTP-code-by-email.git
[submodule "PHP-PasswordLess-Mail-Authentication"]
	path = PHP-PasswordLess-Mail-Authentication
	url = https://github.com/DeveloppeurPascal/PHP-PasswordLess-Mail-Authentication.git
[submodule "TaquinDXBooks"]
	path = TaquinDXBooks
	url = https://github.com/DeveloppeurPascal/TaquinDXBooks.git
[submodule "Promo-Verif"]
	path = Promo-Verif
	url = https://github.com/DeveloppeurPascal/Promo-Verif.git
[submodule "LemonSqueezy4Delphi"]
	path = LemonSqueezy4Delphi
	url = https://github.com/DeveloppeurPascal/LemonSqueezy4Delphi.git
[submodule "Gumroad4Delphi"]
	path = Gumroad4Delphi
	url = https://github.com/DeveloppeurPascal/Gumroad4Delphi.git
[submodule "LogNPass-Delphi"]
	path = LogNPass-Delphi
	url = https://github.com/DeveloppeurPascal/LogNPass-Delphi.git
[submodule "Quoi-de-neuf-dans-RAD-Studio-Delphi-Et-CPPBuilder"]
	path = Quoi-de-neuf-dans-RAD-Studio-Delphi-Et-CPPBuilder
	url = https://github.com/DeveloppeurPascal/Quoi-de-neuf-dans-RAD-Studio-Delphi-Et-CPPBuilder.git
[submodule "Video-Title-Page-Generator"]
	path = Video-Title-Page-Generator
	url = https://github.com/DeveloppeurPascal/Video-Title-Page-Generator.git
[submodule "My-day-in-pictures"]
	path = My-day-in-pictures
	url = https://github.com/DeveloppeurPascal/My-day-in-pictures.git
[submodule "Pic-Resize"]
	path = Pic-Resize
	url = https://github.com/DeveloppeurPascal/Pic-Resize.git
[submodule "Spooch"]
	path = Spooch
	url = https://github.com/DeveloppeurPascal/Spooch.git
[submodule "Champter"]
	path = Champter
	url = https://github.com/DeveloppeurPascal/Champter.git
[submodule "Egg-Hunter"]
	path = Egg-Hunter
	url = https://github.com/DeveloppeurPascal/Egg-Hunter.git
[submodule "DAD48"]
	path = DAD48
	url = https://github.com/DeveloppeurPascal/DAD48.git
[submodule "Bidioo"]
	path = Bidioo
	url = https://github.com/DeveloppeurPascal/Bidioo.git
